<!-- -*- coding: euc-jp -*- -->
<TABLE border="0" width="500">
  <TBODY>
    <TR>
      <TD colspan="2" align="center">入院時情報</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">作成日</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@created_on@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">病棟</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@ward@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">入院形態</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@ward_type@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">&nbsp;</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@admission_type@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">当院入院歴</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@admission_history@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">最終入院１</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@last_admission1@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">最終入院２</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@last_admission2@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">外来初診日</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@first_visit@@</TD>
    </TR>    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">他院からの紹介状</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@referral@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">入院見込み期間</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@estimated_duration@@日</TD>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">外来通院</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@visiting@@</TD>
    </TR>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">デイケア参加</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@daycare@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">OT参加</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@ot@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">訪問介護</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@home_visit@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">ケースカード</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@case_card@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;" rowspan="2">病名</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@disease1@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@disease2@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;" rowspan="4">感染症</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@infection1@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@infection2@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@infection3@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@infection4@@</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">身長</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@height@@cm</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">体重</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@weight@@kg</TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000;">入院までの経過</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-right: 1pt solid #000000;">@@history@@
      </TD>
    </TR>
    <TR>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-bottom: 1pt solid #000000;">記載者</TD>
      <TD style="border-top: 1pt solid #000000; border-left: 1pt solid #000000; border-bottom: 1pt solid #000000; border-right: 1pt solid #000000;">@@written_by@@</TD>
    </TR>
  </TBODY>
</TABLE>
