<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<!-- -*- coding: euc-jp -*- -->


  
  
  <style>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-size:small ;}
		 -->
  </style>
</head>


<body>


<table border="1" cellspacing="0" frame="void" rules="none">



  <tbody>



    <tr>



      <td>様式第120号の4</td>



      <td colspan="2" align="center" valign="middle"><font size="+2">診断書</font></td>



      <td align="right">（精神の障害用）</td>



    </tr>



    <tr>



      <td width="200"></td>



      <td width="200"></td>



      <td align="right" width="200"></td>



      <td width="200"></td>



    </tr>



    <tr>



      <td style="border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="right">記載者：</td>



      <td style="border-bottom: 1pt solid rgb(0, 0, 0);">@@ユーザ.氏名@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="right">作成日(診断日）：</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">@@医療保護-X-障害年金診断書作成日:draw=date@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left">患者氏名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">氏名：<br>



      @@患者台帳.氏名@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">生年月日：<br>



      @@患者台帳.生年月日@@生</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">性別：<br>



      @@患者台帳.性別@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">住所：<br>



      〒@@患者台帳.住所0@@ @@患者台帳.住所1@@@@患者台帳.住所2@@@@患者台帳.住所3@@@@患者台帳.住所4@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">本人の発病時の職業</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">@@医療保護-X-発病時職業@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="4">１：傷病の原因と<br>



      なった傷病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="4">@@紹介元-X-主病名ICD10病名:draw=textarea:option=40,1@@
      <br>



ICD10:@@紹介元-X-主病名ICD10:draw=icd10:option=紹介元-X-主病名ICD10病名@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">２：傷病の発生年月日：<br>



      @@医療保護-X-発病日:draw=date@@</td>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">　@@医療保護-X-発病日確認方法:draw=radio@@<br>



      　年月日@@医療保護-X-発病日確認日:draw=date@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">３：１のため初めて医師の診察を受けた日：<br>



      @@医療保護-X-初診日:draw=date@@</td>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">　@@医療保護-X-初診日確認方法:draw=radio@@<br>



      　年月日@@医療保護-X-初診日確認日:draw=date@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">４：既存障害：</td>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">@@医療保護-X-既存障害:draw=textarea:option=40,1@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">５：既往歴：</td>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">@@医療保護-X-既往歴:draw=textarea:option=40,1@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" rowspan="2">６：傷病が治った(症状が固定した状態を含む。）かどうか。</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">治った日・・・</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">@@医療保護-X-治った日:draw=date@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">症状のよくなる見込み　@@医療保護-X-kakusui:draw=radio@@</td>



      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">　@@医療保護-X-見込み:draw=radio@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="4" valign="top">７：発病から現在までの病歴及び治療の経過、内容、就学・就労状況等、期間、その他参考となる事項</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2" valign="top">陳情者の氏名：@@医療保護-X-陳情者氏名:draw=textarea:option=30,1@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" rowspan="3">@@医療保護-X-経過:draw=textarea:option=80,14@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2" valign="top">請求人との関係：@@医療保護-X-陳情者関係:draw=textarea:option=30,1@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" valign="top">聴取年月日：@@医療保護-X-聴取日:draw=date@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="4">８：診断書作成医療機関における初診時所見</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" bgcolor="#00ffff">初診年月日：@@医療保護-X-初診年月日:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">@@医療保護-X-初診所見::draw=textarea:option=78,4@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="4">９：障害と関連があると考えられる発育・養育歴等</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);" colspan="2">ア　発育・養育歴<br>



      @@医療保護-X-発育養育歴:draw=textarea:option=35,3@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">イ　教育歴（最終学歴）<br>



      @@医療保護-X-最終学歴:draw=textarea:option=20,3@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">ウ　職歴<br>



      @@医療保護-X-職歴:draw=textarea:option=40,2@@</td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="4">エ　治療歴（書ききれない場合は（１３）「備考」欄に記入してください</td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　１</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関1:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関1治療期間自:draw=date@@〜@@医療保護-X-医療機関1治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関1入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関1病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関1療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関1転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　２</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関2:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関2治療期間自:draw=date@@〜@@医療保護-X-医療機関2治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関2入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関2病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関2療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関2転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　３</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関3:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関3治療期間自:draw=date@@〜@@医療保護-X-医療機関3治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関3入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関3病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関3療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関3転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　４</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関4:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関4治療期間自:draw=date@@〜@@医療保護-X-医療機関4治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関4入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関4病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関4療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関4転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　５</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関5:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関5治療期間自:draw=date@@〜@@医療保護-X-医療機関5治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関5入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関5病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関5療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関5転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">医療機関名　６</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">@@医療保護-X-医療機関6:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">治療期間<br>



      @@医療保護-X-医療機関6治療期間自:draw=date@@〜@@医療保護-X-医療機関6治療期間至:draw=date@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);">入院・外来<br>



	@@医療保護-X-医療機関6入外区分@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 3pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">病名</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">@@医療保護-X-医療機関6病名:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">主な療法<br>



      @@医療保護-X-医療機関6療法:draw=textarea:option=20,2@@</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 3pt solid rgb(0, 0, 0); border-bottom: 3pt solid rgb(0, 0, 0);">転帰（軽快・悪化・不変）<br>



	@@医療保護-X-医療機関6転帰@@
      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">１０：障害の状態</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">（@@医療保護-X-現症:draw=date@@現症）</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2">ア　現在の病状又は状態像</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2">イ　左記の状態について、その程度・症状を具体的に記載して下さい</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" valign="top">Ｉ　抑うつ状態<br>



	@@医療保護-X-障害年金抑鬱状態@@<br>



	@@医療保護-X-障害年金抑鬱状態その他@@<br>



      ＩＩ　そう状態<br>



	@@医療保護-X-障害年金躁状態@@<br>



	@@医療保護-X-障害年金躁状態その他@@<br>



      ＩＩＩ　幻覚妄想状態　等<br>



	@@医療保護-X-障害年金幻覚妄想状態@@<br>



	@@医療保護-X-障害年金幻覚妄想状態その他@@<br>



      ＩＶ　精神運動興奮状態及び昏迷の状態<br>



	@@医療保護-X-障害年金興奮昏迷状態@@<br>



	@@医療保護-X-障害年金興奮昏迷状態その他@@<br>



      Ｖ　分裂病等残遺状態<br>



	@@医療保護-X-障害年金分裂病等残遺状態@@<br>



	@@医療保護-X-障害年金分裂病等残遺状態その他@@<br>



      ＶＩ　意識障害・てんかん<br>



	@@医療保護-X-障害年金意識障害@@<br>



	@@医療保護-X-障害年金意識障害その他@@<br>


*てんかん発作の状態<br>


てんかん発作のタイプ@@医療保護-X-障害年金てんかん発作@@<br>


てんかん発作の頻度：年間@@医療保護-X-障害年金てんかん頻度年@@回程度<br>


月平均@@医療保護-X-障害年金てんかん頻度月@@回程度<br>


週平均@@医療保護-X-障害年金てんかん頻度週@@回程度<br>


その他@@医療保護-X-障害年金てんかんその他@@<br>


      <br>



      ＶＩＩ　知能障害<br>


@@医療保護-X-知的障害１@@<br>



	@@医療保護-X-障害年金精神遅延@@<br>


@@医療保護-X-痴呆１@@<br>



	@@医療保護-X-障害年金痴呆@@<br>



	@@医療保護-X-障害年金痴呆その他@@<br>



      ＶＩＩＩ　人格変化<br>



	@@医療保護-X-障害年金人格変化@@<br>



	@@医療保護-X-障害年金人格変化その他@@<br>



      ＩＸ　乱用、依存等（薬物名）<br>



	@@医療保護-X-障害年金物質乱用依存@@<br>



      Ｘ &nbsp; その他<br>



	@@医療保護-X-障害年金現状態像その他@@
      </td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top">@@医療保護-X-障害年金現状態像程度症状:draw=textarea:option=75,34@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" rowspan="5" valign="top">ウ　日常生活状況<br>



      １　家庭及び社会生活についての具体的な状況<br>



      　（ア）現在の生活環境<br>



	@@医療保護-X-障害年金生活環境@@@@医療保護-X-障害年金生活環境その他:draw=textarea:option=20,1@@ 施設名@@医療保護-X-障害年金生活環境施設名:draw=textarea:option=20,1@@<br>



      　同居者の有無<br>



	@@医療保護-X-障害年金同居者有無:draw=radio@@<br>



      　（イ）　全般的状況（家族及び家族以外のものと対人関係についても<br>



      　　　　　具体的に記入して下さい）<br>



	@@医療保護-X-障害年金対人関係:draw=textarea:option=40,2@@<br>



      ２　日常生活能力の判定<br>



      　　（注）　・援助とは、助言、指導をいい、身体介助を含まない<br>



      　　　　　　・本人の一人暮らしを想定して記入してください<br>



      （１）　適切な食事摂取<br>



	@@医療保護-X-障害年金日常食事:draw=radio@@<br>



      （２）　身辺の清潔保持<br>



	@@医療保護-X-障害年金日常清潔:draw=radio@@<br>



      （３）　金銭管理と買い物<br>



	@@医療保護-X-障害年金日常金銭買物:draw=radio@@<br>



      （４）　通院と服薬（@@医療保護-X-障害年金通院服薬要不要@@ ）<br>



	@@医療保護-X-障害年金通院服薬:draw=radio@@<br>



      （５）　他人との意思伝達及び対人関係<br>



	@@医療保護-X-障害年金日常意思伝達:draw=radio@@<br>



      （６）　身辺の安全保持及び危機対応<br>



	@@医療保護-X-障害年金日常安全:draw=radio@@<br>



      （７）その他<br>



	@@医療保護-X-障害年金日常その他:draw=textarea:option=40,6@@<br>



      </td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top"> ３　日常生活能力の程度<br>



      　　　（該当するものを一つ選択してください）<br>



	@@医療保護-X-障害年金生活能力:draw=radio@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top">エ　社会復帰施設、グループホーム、作業所等の利用状況、期間等<br>



	@@医療保護-X-障害年金社会復帰施設:draw=textarea:option=65,4@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top">オ　在宅支援（訪問介護）の利用状況<br>



	@@医療保護-X-障害年金訪問介護:draw=textarea:option=55,3@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top">カ　身体所見（精神学的所見を含む）<br>



	@@医療保護-X-障害年金身体所見:draw=textarea:option=55,3@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" valign="top">キ　臨床検査<br>



      　　（心理テスト（知能障害の場合には、知能指数又は精神年齢）を含む。）<br>



	@@医療保護-X-障害年金心理テスト:draw=textarea:option=75,5@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">１１：現症時の日常生活活動能力及び労働能力<br>



      <b>　　　（必ず記入して下さい）</b></td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">@@医療保護-X-障害年金労働能力:draw=textarea:option=65,3@@<br>



      </td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">１２：予後<br>



      　　　<b>（必ず記入して下さい）</b></td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">@@医療保護-X-障害年金予後:draw=textarea:option=65,3@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">１３：備考</td>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">@@医療保護-X-障害年金備考:draw=textarea:option=65,3@@</td>



    </tr>



    <tr>



      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4">精神保健医指定番号@@医療保護-X-障害年金精神保健医指定番号:draw=textarea:option=30,1@@</td>



    </tr>



  
  
  
  </tbody>
</table>



</body>
</html>
