<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>




  
  
  
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=EUC-JP">




  
  
  
  <meta http-equiv="Content-Style-Type" content="text/css">



  
  
  
  <title>院内処方箋</title>
</head>


<body style="color: rgb(0, 0, 0);">




<table border="1" cellspacing="0" frame="void" rules="none">




  <tbody>




    <tr>




      <td colspan="7" align="center" height="35" valign="middle" width="660"><b><span style="font-size: 200%;">${Shots}院　内　処　方　箋</span></b></td>




    </tr>




    <tr>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="2" align="right" height="26" valign="MIDDL"><span style="font-size: 150%;">${DateOfIssue}</span></td>




      <td style="border-top: 3px solid rgb(0, 0, 0);" align="left" valign="middle"><span style="font-size: 150%;">発行</span></td>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;">${Kubun}</span></td>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;">${PatientGroup}</span></td>




    </tr>




    <tr>




      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" align="right" height="26" valign="middle"><span style="font-size: 150%;">ID:</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0);" align="left" valign="middle"><span style="font-size: 150%;">${PatientID}</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" align="right" valign="middle"><span style="font-size: 150%;">患者名：</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle"><span style="font-size: 150%;">${PatientName}</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;">${PatientAge}歳</span></td>




    </tr>




    <tr>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="7" align="left" height="670" valign="top">
      <span style="font-size: 15pt;">
      
      
      
      <pre>	${RxBody}<br>	</pre>




      </span> </td>




    </tr>




    <tr>




      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="6" align="left" height="30" valign="middle"><span style="font-size: 120%;">備
考欄</span></td>




      <td style="border-style: solid; border-color: rgb(0, 0, 0); border-width: 2px 3px 1px 2px;" align="center" valign="middle"><span style="font-size: 100%;">医師</span></td>




    </tr>




    <tr>




      <td style="border-left: 3px solid rgb(0, 0, 0); border-bottom: 3px solid rgb(0, 0, 0);" colspan="6" rowspan="3" align="left" height="165" valign="top">&nbsp;</td>




      <td style="border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px 3px 1px 2px;" align="center" height="55" valign="middle"><span style="font-size: 120%;"><br>


      </span></td>




    </tr>




    <tr>




      <td style="border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px 3px 1px 2px;" align="center" height="30" valign="middle"><span style="font-size: 100%;">薬剤師</span></td>




    </tr>




    <tr>




      <td style="border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px 3px 3px 2px;" align="center" height="80" valign="middle">&nbsp;</td>




    </tr>




    <tr>




      <td colspan="7" align="center" height="35" valign="bottom"><span style="font-size: 140%;">${CorporationName}&nbsp;&nbsp;</span><span style="font-size: 160%;">${HospitalName}</span></td>




    </tr>




  
  
  
  </tbody>
</table>




</body>
</html>
