<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja"><head><!-- -*- coding: euc-jp -*- --><style>
		<!-- 
		BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-size:small ;}
		 -->
</style><title></title></head>
<body><table border="1" cellspacing="0" frame="void" rules="none">
  <tbody>
    <tr>
      <td colspan="4" align="center" valign="middle"><font size="+2">自立支援申請用診断書</font></td>
    </tr>
    <tr>
      <td width="200"></td>
      <td width="200"></td>
      <td width="200"></td>
      <td width="200"></td>
    </tr>
    <tr>
      <td style="border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="right">記載者：</td>
      <td style="border-bottom: 1pt solid rgb(0, 0, 0);">@@ユーザ.氏名@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="right">作成日：</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">@@医療保護-X-自立支援用診断書作成日:draw=date@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left">患者情報</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">氏名：<br>
      @@患者台帳.氏名@@</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">生年月日：<br>@@患者台帳.生年月日@@生</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">性別：<br>
      @@患者台帳.性別@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" bgcolor="#00ffff">住所：<br>
      〒@@患者台帳.住所0@@ @@患者台帳.住所1@@@@患者台帳.住所2@@@@患者台帳.住所3@@@@患者台帳.住所4@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="3">病名</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">１　主たる精神障害</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">２　従たる精神障害</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">３　身体合併症</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">@@紹介元-X-主病名ICD10病名:draw=textarea:option=40,1@@</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" bgcolor="#00ffff">@@紹介元-X-従病名ICD10病名:draw=textarea:option=40,1@@</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2">@@患情問診-X-合併症:draw=textarea:option=40,1@@</td>
</tr>
<tr>
<td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">ICD10:@@紹介元-X-主病名ICD10:draw=icd10:option=紹介元-X-主病名ICD10病名@@</td>
<td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">ICD10:@@紹介元-X-従病名ICD10:draw=icd10:option=紹介元-X-従病名ICD10病名@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2">２：発病から現在までの<br>
      　　病歴</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="3">推定発病時期：@@医療保護-X-発病日:draw=date@@　頃</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">精神科受診歴等：<br>
      @@医療保護-X-受診歴自立神:draw=textarea:option=110,5@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" valign="top">３：現在の病状、状態像<br>
      　　※該当項目を選択して下さい<br>
      　　　（治療を中止すれば出現する可能性のある症状も含む。）<br>
      <br>
      （１）　抑うつ状態<br>
      @@医療保護-X-抑鬱状態@@
      @@医療保護-X-抑鬱状態その他@@
      <br>
      （２）　そう状態<br>
      @@医療保護-X-躁状態@@
      @@医療保護-X-躁状態その他自立@@
      <br>
      （３）　幻覚妄想状態<br>
      @@医療保護-X-幻覚妄想状態@@
      @@医療保護-X-幻覚妄想状態その他@@
      <br>
      （４）　精神運動興奮状態及び昏迷の状態<br>
      @@医療保護-X-興奮昏迷状態@@
      @@医療保護-X-興奮昏迷状態その他自立@@
      <br>
      （５）　統合失調症等残遺状態<br>
      @@医療保護-X-統合失調症等残遺状態@@
      @@医療保護-X-統合失調症等残遺状態その他自立@@
      <br>
      （６）　情動及び行動の障害<br>
      @@医療保護-X-情動行動障害@@
      @@医療保護-X-情動行動障害その他@@
      <br>
      （７）　不安及び不穏<br>
      @@医療保護-X-不安不穏@@
      @@医療保護-X-不安不穏その他自立@@
      <br>
      （８）　けいれん及び意識障害<br>
      @@医療保護-X-痙攣意識障害@@
      @@医療保護-X-痙攣意識障害その他自立@@
      <br>
      （９）　精神作用物質の乱用及び依存<br>
      @@医療保護-X-物質乱用依存@@
      @@医療保護-X-物質乱用依存その他自立@@
      <br>
      （１０）　知能障害<br>@@医療保護-X-知的障害１@@@@医療保護-X-精神遅延@@<br>@@医療保護-X-認知症１@@@@医療保護-X-認知症@@
      <br>
      （１１）その他<br>
      @@医療保護-X-現状態像その他@@
      </td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" valign="top">４：３の病状・状態像の具体的程度、症状等<br>
        @@医療保護-X-現状態像程度症状自立神:draw=textarea:option=76,15@@
      </td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="4">５：現在の治療内容</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2">（１）　投薬内容<br>
      最終(この診断書を書く時点での最新）処方箋の投薬内容をこの欄に書き込む
      </td>
      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2" bgcolor="#00ffff">@@医療保護-X-投薬内容:draw=textarea:option=80,4@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2">（２）　精神療法等<br>
      　　　　（該当項目を選択してください・東京都の場合コメント欄に入力）</td>
      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt dotted rgb(0, 0, 0);" colspan="2">　@@医療保護-X-自立支援精神療法神奈川@@ @@医療保護-X-自立支援精神療法その他@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">（３）　訪問介護指示の有無</td>
      <td style="border-left: 1pt dotted rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2">　@@医療保護-X-訪問介護の有無:draw=radio@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">６：今後の治療方針</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">@@医療保護-X-治療方針:draw=textarea:option=65,5@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4" valign="top">７：現在の精神保健福祉サービスの利用状況（該当項目を選択してください）<br>
      　（１）　入所施設<br>
	@@医療保護-X-自立支援入所施設@@
	@@医療保護-X-自立支援入所施設その他@@<br>
      　（２）　通所施設<br>
	@@医療保護-X-自立支援通所施設@@
	@@医療保護-X-自立支援通所施設その他@@<br>
      　（３）　在宅サービス<br>
	@@医療保護-X-自立支援在宅サービス@@
	@@医療保護-X-自立支援在宅サービスその他@@<br>
      </td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);">８：備考</td>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">@@医療保護-X-自立支援備考:draw=textarea:option=47,3@@</td>
    </tr>
    <tr>
      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4" valign="top">９：自立支援医療における「重度かつ継続」について<br>
      　　※自立支援医療を同時申請する場合に選択。<br>
      　　但し、主たる精神障害がF0〜F3及びG40の場合は記入不要。<br>
      <br>
      　（１）　１病名（１）主たる精神障害のICDコードがF4〜F9であって、情動及び行動の障害又は不安及び不穏状態に該当し計画的・集中的継続的治療を<br>
      　　　　要する場合に、該当項目を選択してください。<br>　　@@医療保護-X-自立支援重度継続病名:draw=radio@@<br>
      　（２）　（１）は、3年以上の精神医療の経験を有する医師の診断となるため、該当する項目を選択してください<br>      　　　@@医療保護-X-自立支援医師:draw=radio@@<br>　　精神保健指定医の証　第@@医療保護-X-自立支援精神保健指定医@@号<br>
　　精神医療に従事した経験年数：@@医療保護-X-自立支援医師年数@@
      　</td>
    </tr>
  </tbody>
</table></body></html>