<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>testform</title>

  
</head><body>
<table style="text-align: left; width: 850px; table-layout: fixed;" border="0" cellpadding="2" cellspacing="0">

  <tbody>
  </tbody><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <tbody>
    <tr>
      <td colspan="13" rowspan="1" style="vertical-align: top; text-align: center;">&#20837;&#38498;&#20966;&#26041;&#12379;&#12435;<br>
      </td>
      <td colspan="4" rowspan="1" style="vertical-align: top;">@@FUNSAI@@<br>
      </td>
    </tr>
    <tr>
      <td colspan="3" rowspan="1" style="vertical-align: top;">${Kubun}<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#20837;&#38498;&#31185;<br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#30149;&#23460;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#20027;&#27835;&#21307;<br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#30475;&#35703;&#24107;<br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#35519;&#21092;&#24107;<br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#37969;&#26619;&#24107;<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">${PatientGroup}<br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">@@PATIENT_ROOM@@</td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">ID:<br>
      </td>
      <td colspan="5" rowspan="1" style="vertical-align: top;">${PatientID}<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#27663;&#21517;<br>
      </td>
      <td colspan="5" rowspan="1" style="vertical-align: top;">${PatientName}</td>
      <td style="vertical-align: top;">${PatientAge}ºÐ<br>
      </td>
      <td style="vertical-align: top;">&#27507;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">&#29983;&#24180;&#26376;&#26085;<br>
      <br>
      </td>
      <td colspan="2" rowspan="1" style="vertical-align: top;">@@PATIENT_DOB@@<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td colspan="6" rowspan="1" style="vertical-align: top;">&#20966;&#26041;&#26085;
${DateOfIssue}<br>
      </td>
      <td colspan="5" rowspan="1" style="vertical-align: top;">&#38283;&#22987;&#26085;
@@PRESCRIPTION_STARTDATE@@</td>
      <td colspan="6" rowspan="1" style="vertical-align: top;">&#65288;&#26397;&#12539;&#26172;&#12539;&#22805;&#12539;&#23517;
&#21069;&#65289;&#12424;&#12426;&#38283;&#22987;<br>
      </td>
    </tr>
  </tbody>
</table>

<table style="text-align: left; width: 850px; table-layout: fixed;" border="0" cellpadding="2" cellspacing="0">

  <tbody>
  </tbody><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <tbody>
     <tr>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="18" align="left" height="350" valign="top">
      <span style="font-size: 12pt;">
      
      
      <pre>	${RxBody}<br>	</pre>



      </span> </td>



    </tr>
    
  </tbody>
</table>

<table style="text-align: left; width: 850px; table-layout: fixed;" border="0" cellpadding="2" cellspacing="0">

  <tbody>
  </tbody><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <col width="50"><col width="50"> <tbody>
    <tr>
      <td colspan="17" rowspan="1" style="vertical-align: top; text-align: center;">&#27425;&#22238;&#12424;&#12426;&#23450;&#26178;&#20966;&#26041;&#12408;&#32153;&#32154;&#65288;&#12377;&#12427;&#12539;&#12375;&#12394;&#12356;&#65289;</td>
    </tr>
    <tr>
      <td colspan="17" rowspan="1" style="vertical-align: top; text-align: center;">&#26381;&#34220;&#12481;&#12455;&#12483;&#12463;&#34920;</td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#26376;<br>
      </td>
      <td style="vertical-align: top;">1&#26085;<br>
      </td>
      <td style="vertical-align: top;">2&#26085;<br>
      </td>
      <td style="vertical-align: top;">3&#26085;<br>
      </td>
      <td style="vertical-align: top;">4&#26085;<br>
      </td>
      <td style="vertical-align: top;">5&#26085;<br>
      </td>
      <td style="vertical-align: top;">6&#26085;<br>
      </td>
      <td style="vertical-align: top;">7&#26085;<br>
      </td>
      <td style="vertical-align: top;">8&#26085;<br>
      </td>
      <td style="vertical-align: top;">9&#26085;<br>
      </td>
      <td style="vertical-align: top;">10&#26085;<br>
      </td>
      <td style="vertical-align: top;">11&#26085;<br>
      </td>
      <td style="vertical-align: top;">12&#26085;<br>
      </td>
      <td style="vertical-align: top;">13&#26085;<br>
      </td>
      <td style="vertical-align: top;">14&#26085;<br>
      </td>
      <td style="vertical-align: top;">15&#26085;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;">16&#26085;<br>
      </td>
      <td style="vertical-align: top;">17&#26085;<br>
      </td>
      <td style="vertical-align: top;">18&#26085;<br>
      </td>
      <td style="vertical-align: top;">19&#26085;<br>
      </td>
      <td style="vertical-align: top;">20&#26085;<br>
      </td>
      <td style="vertical-align: top;">21&#26085;<br>
      </td>
      <td style="vertical-align: top;">22&#26085;<br>
      </td>
      <td style="vertical-align: top;">23&#26085;<br>
      </td>
      <td style="vertical-align: top;">24&#26085;<br>
      </td>
      <td style="vertical-align: top;">25&#26085;<br>
      </td>
      <td style="vertical-align: top;">26&#26085;<br>
      </td>
      <td style="vertical-align: top;">27&#26085;<br>
      </td>
      <td style="vertical-align: top;">28&#26085;<br>
      </td>
      <td style="vertical-align: top;">29&#26085;<br>
      </td>
      <td style="vertical-align: top;">30&#26085;<br>
      </td>
      <td style="vertical-align: top;">31&#26085;<br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#26397;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#26172;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#22805;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">&#30496;&#21069;<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td colspan="16" rowspan="1" style="vertical-align: top; text-align: center;">@@CORPORATION_NAME@@&#12288;
@@HOSPITAL_NAME@@</td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
  </tbody>
</table>

<br>

<br>

</body></html>
