<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>



  
  
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=EUC-JP">



  
  
  <meta http-equiv="Content-Style-Type" content="text/css">


  
  
  <title>インシデント報告</title>
</head>


<body style="color: rgb(0, 0, 0);">



<table border="1" cellspacing="0" frame="void" rules="none">



  <tbody>



    <tr>



      <td colspan="7" align="center" height="35" valign="middle" width="660"><b><span style="font-size: 200%;">${kubun}報告 　</span></b></td>



    </tr>



    <tr>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="2" width="100" align="left" height="26"   valign="MIDDL"><span style="font-size: 100%;">報告日：${DateOfIssue}</span></td>


      <td style="border-top: 3px solid rgb(0, 0, 0);border-left: 2px solid rgb(0, 0, 0);" clspan="2" align="left"  valign="left"><span style="font-size: 100%;">所属部署：${busho}</span></td>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="3" align="left" valign="middle"><span style="font-size: 100%;">報告者：${empnm1}</span></td>

 

      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 100%;">職種：${empnm3}</span></td>



    </tr>



    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);"  colspan="2" align="left"   valign="middle"><span style="font-size: 100%;">患者ID:${PatientID}</span></td>





      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="3" align="left" valign="middle"><span style="font-size: 100%;">氏名：${PatientName}　　</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);border-left: 2px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 100%;">年齢：${PatientAge}</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);border-left: 2px solid rgb(0, 0, 0);   border-right: 3px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 100%;">性別：${PatientSex}</span></td>



    </tr>

    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);"  colspan="2" align="left" valign="middle"><span style="font-size: 100%;">発生日:${factdate}</span></td>





      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="4" align="left" valign="middle"><span style="font-size: 100%;">場所：${factloc}</span></td>





      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 2px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 100%;"> 種類：${facttype} </span></td>



    </tr>
      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);   "  colspan="8" align="left"   valign="middle"><span style="font-size: 100%;">疾患名：${empnm2}</span></td>









    </tr>



    <tr>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="7" align="left" height="350" valign="top">
      <span style="font-size: 12pt;">
		


<pre>発生状況：<br></pre>
<pre>${factcont}<br></pre>
<pre>対応状況：<br></pre>
<pre>${factdone}<br></pre>
<pre>今後の防止対策について:<br></pre>
<pre>${factplan}<br></pre>
<pre>医療安全委員会より：<br></pre>
<pre>${pnm3}<br></pre>
<pre>重要度：${factdo}<br></pre>

      </span> </td>



    </tr>



    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="3" align="left" height="20" valign="middle"><span style="font-size: 80%;">備考欄</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 80%;">承認印</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0);border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 80%;">　</span></td>










    </tr>



    <tr>



      <td style="border-left: 3px solid rgb(0, 0, 0); border-bottom: 3px solid rgb(0, 0, 0);" colspan="3" rowspan="1" align="left" height="50" valign="middle"><span style="font-size: 100%;">

      </span>&nbsp;</td>
      <td style=" border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" rowspan="1" align="left" height="50" valign="top"><span style="font-size: 80%;">${DrName}

      </span>&nbsp;</td>



      <td style="border-right: 2px solid rgb(0, 0, 0);border-left: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0);"" align="center" colspan="2" height="50" valign="middle"><span style="font-size: 100%;">

      </span></td>






    </tr>


   <tr>



      <td colspan="7" align="center" height="35" valign="middle"><span style="font-size: 140%;">${CorporationName}&nbsp;&nbsp;</span><span style="font-size: 160%;">${HospitalName}</span></td>



    </tr>



  


  
  
  </tbody>
</table>



</body>
</html>
