<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>



  
  
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=EUC-JP">



  
  
  <meta http-equiv="Content-Style-Type" content="text/css">


  
  
  <title>TEST</title>
</head>


<body style="color: rgb(0, 0, 0);">



<table border="1" cellspacing="0" frame="void" rules="none">



  <tbody>



    <tr>



      <td colspan="7" align="center" height="35" valign="middle" width="660"><b><span style="font-size: 200%;">TEST ${Stop}</span></b></td>



    </tr>



    <tr>




      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="2" width="100" align="left" height="26"   valign="MIDDL"><span style="font-size: 150%;">${DateOfIssue}</span></td>


      <td style="border-top: 3px solid rgb(0, 0, 0);" clspan="1" align="left"   valign="left"><span style="font-size: 100%;">発行</span></td>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;"> </span></td>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;"> </span></td>



    </tr>



    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);"  colspan="1" align="left" height="26" width="50"  valign="middle"><span style="font-size: 150%;"> </span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);" colspan="1" align="left"   valign="middle"><span style="font-size: 150%;"> </span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle"><span style="font-size: 100%;"> ：　</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 100%;"> </span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;"> </span></td>



    </tr>

    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);"  colspan="1" align="left" height="26" width="50"  valign="middle"><span style="font-size: 150%;">記号 :</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);" colspan="1" align="left"   valign="middle"><span style="font-size: 150%;">　 </span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle"><span style="font-size: 100%;">番号：</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);" colspan="1" align="left" valign="middle"><span style="font-size: 120%;"> </span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 150%;">  </span>  </td>



    </tr>



    <tr>



      <td style="border-top: 3px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0); border-right: 3px solid rgb(0, 0, 0);" colspan="7" align="left" height="350" valign="top">
      <span style="font-size: 12pt;">
		

      <pre>観点：	${O0}<br>	</pre>
 	<pre> 内容：	${S0}   <br>	</pre>
      　
	 <pre> <br>	</pre>

      </span> </td>



    </tr>



    <tr>



      <td style="border-top: 2px solid rgb(0, 0, 0); border-left: 3px solid rgb(0, 0, 0);" colspan="3" align="left" height="20" valign="middle"><span style="font-size: 80%;">備考欄</span></td>



      <td style="border-top: 2px solid rgb(0, 0, 0);border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 80%;">　</span></td>




      <td style="border-top: 2px solid rgb(0, 0, 0);border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);border-right: 3px solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle"><span style="font-size: 80%;">　</span></td>










    </tr>



    <tr>



      <td style="border-left: 3px solid rgb(0, 0, 0); border-bottom: 3px solid rgb(0, 0, 0);" colspan="3" rowspan="1" align="left" height="50" valign="middle"><span style="font-size: 100%;">

      </span>&nbsp;</td>
      <td style=" border-bottom: 2px solid rgb(0, 0, 0); border-left: 2px solid rgb(0, 0, 0);" colspan="2" rowspan="1" align="left" height="50" valign="top"><span style="font-size: 80%;">${DrName}

      </span>&nbsp;</td>



      <td style="border-right: 2px solid rgb(0, 0, 0);border-left: 2px solid rgb(0, 0, 0); border-bottom: 2px solid rgb(0, 0, 0);"" align="center" colspan="2" height="50" valign="middle"><span style="font-size: 100%;">

      </span></td>






    </tr>


   <tr>



      <td colspan="7" align="center" height="35" valign="middle"><span style="font-size: 140%;">&nbsp;&nbsp;</span><span style="font-size: 160%;">　</span></td>



    </tr>



  


  
  
  </tbody>
</table>



</body>
</html>
