<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<!-- -*- coding: euc-jp -*- -->
</head>


<body>






<table border="1" cellspacing="0" frame="void" rules="none" width="900">







  <tbody>







    <tr>







      <td height="2" width="6">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







      <td height="2" width="100">&nbsp;</td>







    </tr>







    <tr>







      <td colspan="8" align="center"><b><font size="3">患者基本情報シート</font></b></td>







    </tr>







    <tr>







      <td colspan="7" align="right">初回作成日：</td>







      <td>@@患情問診-X-初回作成日:draw=date@@</td>







    </tr>







    <tr>







      <td colspan="7" align="right">更新日：</td>







      <td>@@記録日@@</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="7" align="right">記載者：</td>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" align="left">@@ユーザ.氏名@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" rowspan="5" align="center" valign="middle">本人情報</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left">患者情報</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left" valign="middle">ID:@@患者台帳.患者ID@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" rowspan="2" align="center" valign="middle">@@患者台帳.氏名@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center" valign="middle">性別</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center" valign="middle">生年月日</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center" valign="middle">職業</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center" valign="middle">@@患者台帳.性別@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center" valign="middle">@@患者台帳.生年月日@@生</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">@@患者台帳.保険者番号@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">住所</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="6" align="left" valign="middle">〒@@患者台帳.住所0@@ @@患者台帳.住所1@@@@患者台帳.住所2@@@@患者台帳.住所3@@@@患者台帳.住所4@@</td>







    </tr>














    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left" valign="middle">電話番号</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">自宅</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@患者台帳.加入電話@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">(変更）</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-変更加入電話@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">携帯電話</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@患情問診-X-携帯番号@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">(変更)</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-変更携帯番号@@</td>







    </tr>




















    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="10">&nbsp;</td>







    </tr>



































 

 






    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="2" align="center" valign="middle">備考・変更記入欄</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="6" align="left" valign="top">@@患情問診-X-備考欄::draw=textarea:option=100,2@@</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="10">&nbsp;</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">主病名(ICD10)</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" nowrap="nowrap" valign="middle">ICD10:@@紹介元-X-主病名ICD10:draw=icd10:option=紹介元-X-主病名ICD10病名@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@紹介元-X-主病名ICD10病名:draw=textarea:option=30,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="left" valign="middle">@@紹介元-X-主病名:draw=textarea:option=30,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">従病名(ICD10)</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" nowrap="nowrap" valign="middle">ICD10:@@紹介元-X-従病名ICD10:draw=icd10:option=紹介元-X-従病名ICD10病名@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@紹介元-X-従病名ICD10病名:draw=textarea:option=30,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="left" valign="middle">@@紹介元-X-従病名:draw=textarea:option=30,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">合併症</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="6" align="left" valign="middle">@@患情問診-X-合併症:draw=textarea:option=70,2@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">アレルギー</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@患情問診-X-アレルギー有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4" align="left" valign="middle">@@患情問診-X-アレルギー:draw=textarea:option=80,2@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">感染症</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">@@患情問診-X-感染症有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4" align="left" valign="middle">@@患情問診-X-感染症:draw=textarea:option=40,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">既往歴</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="6" align="left" valign="middle">@@患情問診-X-既往歴:draw=textarea:option=70,3@@</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="5">&nbsp;</td>







    </tr>







  







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="5">&nbsp;</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" rowspan="12" colspan="2" align="left">確認事項</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="4" align="left">&nbsp;</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">備考</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">アルコール<br>






@@患情問診-X-アルコール有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">衝動<br>






@@患情問診-X-衝動有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">糖尿病<br>






@@患情問診-X-糖尿病有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">肺疾患<br>






@@患情問診-X-肺疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考1:draw=textarea:option=40,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">たばこ<br>






@@患情問診-X-タバコ有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">自傷<br>






@@患情問診-X-自傷有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">高血圧<br>






@@患情問診-X-高血圧有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">脳疾患<br>






@@患情問診-X-脳疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考2:draw=textarea:option=40,1@@</td>






    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>
 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>


 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>


 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>


 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>


 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>




 <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">胆石 @@患情問診-X-DRUG有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">暴力<br>






@@患情問診-X-暴力有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">心疾患<br>






@@患情問診-X-心疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">腎疾患<br>






@@患情問診-X-腎疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考3:draw=textarea:option=40,1@@</td>






    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">宗教<br>






@@患情問診-X-宗教有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">企図<br>






@@患情問診-X-企図有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">甲状腺<br>






@@患情問診-X-甲状腺有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left">肝疾患<br>






@@患情問診-X-肺疾患有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考4:draw=textarea:option=40,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">妊娠<br>






@@患情問診-X-妊娠有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">措置<br>






@@患情問診-X-措置有無@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">緑内障<br>






@@患情問診-X-緑内障有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">その他<br>






@@患情問診-X-その他有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-確認事項備考5:draw=textarea:option=40,1@@</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="10">&nbsp;</td>







    </tr>













    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="3" align="center" valign="middle">他院より</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" align="left" valign="middle">前医</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" rowspan="2" valign="middle">@@紹介元-X-前医有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0);" colspan="3" valign="middle">名称</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left" valign="middle">連絡先</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3">@@紹介元-X-前医名称:draw=textarea:option=30,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@紹介元-X-紹介元連絡先:draw=textarea:option=30,1@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">紹介状</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="left" valign="middle">@@紹介元-X-紹介元有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="5" align="left" valign="middle">無しの理由：@@紹介元-X-紹介状無しの理由@@</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" rowspan="2" colspan="2" align="center" valign="middle">当院</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">過去当院利用</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">@@患情問診-X-過去当院利用歴有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">受診歴</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">@@患情問診-X-当院受診歴有無:draw=radio@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">入院歴</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" valign="middle">@@患情問診-X-当院入院歴有無:draw=radio@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">主治医歴</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">@@患情問診-X-主治医歴1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">@@患情問診-X-主治医歴2@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">@@患情問診-X-主治医歴3@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">&nbsp;</td>







      <td style="border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="left">&nbsp;</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="10">&nbsp;</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" rowspan="6" colspan="2" align="left">通院歴<br>







      (現病歴にも記載）</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="center">医療機関</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">種別</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="center">期間</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-入院歴医療機関1:draw=textarea:option=40,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">@@患情問診-X-入院種別1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="center">@@患情問診-X-入院歴期間自1:draw=date@@〜@@患情問診-X-入院歴期間至1:draw=date@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-入院歴医療機関2:draw=textarea:option=40,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">@@患情問診-X-入院種別2@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="center">@@患情問診-X-入院歴期間自2:draw=date@@〜@@患情問診-X-入院歴期間至2:draw=date@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-入院歴医療機関3:draw=textarea:option=40,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">@@患情問診-X-入院種別3@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="center">@@患情問診-X-入院歴期間自3:draw=date@@〜@@患情問診-X-入院歴期間至3:draw=date@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-入院歴医療機関4:draw=textarea:option=40,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" align="center">@@患情問診-X-入院種別4@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 1pt solid rgb(0, 0, 0);" colspan="3" align="center">@@患情問診-X-入院歴期間自4:draw=date@@〜@@患情問診-X-入院歴期間至4:draw=date@@</td>







    </tr>







    <tr>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="2" align="left">@@患情問診-X-入院歴医療機関5:draw=textarea:option=40,1@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" align="center">@@患情問診-X-入院種別5@@</td>







      <td style="border-left: 1pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="3" align="center">@@患情問診-X-入院歴期間自5:draw=date@@〜@@患情問診-X-入院歴期間至5:draw=date@@</td>







    </tr>







    <tr>







      <td style="border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" height="10">&nbsp;</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0);" colspan="8" align="left" valign="middle">備考：初診時処方内容、キーパーソン、注意事項など</td>







    </tr>







    <tr>







      <td style="border-left: 2pt solid rgb(0, 0, 0); border-right: 2pt solid rgb(0, 0, 0); border-bottom: 2pt solid rgb(0, 0, 0);" colspan="8" align="left" valign="top">@@患情問診-X-備考欄2:draw=textarea:option=100,10@@
      </td>







    </tr>







    <tr>







      <td colspan="8" height="10">&nbsp;</td>







    </tr>







    <tr>







      <td colspan="8" align="center"><!-- @@システム.CORPORATION_NAME@@-->&nbsp;<!-- @@システム.HOSPITAL_NAME@--></td>







    </tr>







  
  
  
  
  
  
  
  </tbody>
</table>






</body>
</html>
