<table class="quickxray">
<thead>
  <colgroup>
   <col width="40px">
   <col width="40px">
   <col width="140px">
   <col width="100px">

   <col width="60px">
   <col width="180px">
   <col width="70px">
   <col width="100px">
   <col width="100px">
  </colgroup>  
</thead>
<tbody>
<tr><th>»Ø¼¨°å</th>

<td class="plain" colspan="8"><input type="hidden" name="@@Nshiji@@"
  value="@@shiji@@">@@shiji@@</td>
 </tr>

</td>

</tr>

 <tr>
  <th class="darker">ÆüÉÕ</th>
  <td class="plain" colspan="8"><input type="hidden" name="@@NÆüÉÕ@@"
  value="@@ÆüÉÕ@@">@@ÆüÉÕ@@</td>
 </tr>
<tr><th>Í½ÄêÆü</th>
<td class="plain" colspan="8"><input type="hidden" name="@@Nyotei@@"
  value="@@yotei@@">@@yotei@@</td>
 </tr>
<tr>
  <th class="darker">Ãæ»ß</th>
  <td class="plain" colspan="7"><input type="text" name="@@Nstop@@"
  value="@@stop@@"></td>
 </tr>

 

 <tr>
  <th class="heading" colspan="2">Éô°Ì</th>
  <th class="heading" colspan="2">Êý¸þ</th>
  <th class="heading" colspan="3">Éô°Ì</th>
  <th class="heading" colspan="2">Êý¸þ</th>
 </tr>

 <tr>
  <td class="plain">¶»Éô</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¶»Éô.1@@" @@¶»Éô.1@@
   >£±<input type="checkbox" name="@@N¶»Éô.2@@" @@¶»Éô.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¶»Éô.T@@" value="@@¶»Éô.T@@"></td>
  <td class="plain">º¿¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@Nº¿¹ü.L@@" @@º¿¹ü.L@@
   >º¸<input type="checkbox" name="@@Nº¿¹ü.R@@" @@º¿¹ü.R@@
   >±¦<input type="checkbox" name="@@Nº¿¹ü.B@@" @@º¿¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@Nº¿¹ü.2@@" @@º¿¹ü.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@Nº¿¹ü.T@@" value="@@º¿¹ü.T@@"></td>
 </tr>
<tr>
  <td class="plain">É¡¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÉ¡¹ü.1@@" @@É¡¹ü.1@@
     >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÉ¡¹ü.T@@" value="@@É¡¹ü.T@@"></td>
  <td class="plain">Ä²¹ü</td>
  <td class="plain"></td>
  
  <td class="plain"><input type="checkbox" name="@@NÄ²¹ü.1@@" @@Ä²¹ü1@@
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÄ²¹ü.T@@" value="@@Ä²¹ü.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Ê¢Éô</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÊ¢Éô.1@@" @@Ê¢Éô.1@@
   >£±<input type="checkbox" name="@@NÊ¢Éô.2@@" @@Ê¢Éô.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÊ¢Éô.T@@" value="@@Ê¢Éô.T@@"></td>

  <td class="darker">¸ª´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N¸ª.L@@" @@¸ª.L@@
   >º¸<input type="checkbox" name="@@N¸ª.R@@" @@¸ª.R@@
   >±¦<input type="checkbox" name="@@N¸ª.B@@" @@¸ª.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@N¸ª.2@@" @@¸ª.2@@
   >£²<input type="checkbox" name="@@N¸ª.3@@" @@¸ª.3@@
   >£³</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N¸ª.T@@" value="@@¸ª.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Æ¬Éô</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÆ¬Éô.2@@" @@Æ¬Éô.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÆ¬Éô.T@@" value="@@Æ¬Éô.T@@"></td>
  <td class="plain">¾åÏÓ¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¾åÏÓ¹ü.L@@" @@¾åÏÓ¹ü.L@@
   >º¸<input type="checkbox" name="@@N¾åÏÓ¹ü.R@@" @@¾åÏÓ¹ü.R@@
   >±¦<input type="checkbox" name="@@N¾åÏÓ¹ü.B@@" @@¾åÏÓ¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@N¾åÏÓ¹ü.2@@" @@¾åÏÓ¹ü.2@@
   >£²<input type="checkbox" name="@@N¾åÏÓ¹ü.4@@" @@¾åÏÓ¹ü.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¾åÏÓ¹ü.T@@" value="@@¾åÏÓ¹ü.T@@"></td>
 </tr>

 <tr>
  <td class="darker">·ÛÄÇ</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N·ÛÄÇ.2@@" @@·ÛÄÇ.2@@
   >£²<input type="checkbox" name="@@N·ÛÄÇ.4@@" @@·ÛÄÇ.4@@
   >£´<input type="checkbox" name="@@N·ÛÄÇ.6@@" @@·ÛÄÇ.6@@
   >£¶<input type="checkbox" name="@@N·ÛÄÇ.7@@" @@·ÛÄÇ.7@@
   >£·</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N·ÛÄÇ.T@@" value="@@·ÛÄÇ.T@@"></td>
  <td class="darker">Éª´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@NÉª´ØÀá.L@@" @@Éª´ØÀá.L@@
   >º¸<input type="checkbox" name="@@NÉª´ØÀá.R@@" @@Éª´ØÀá.R@@
   >±¦<input type="checkbox" name="@@NÉª´ØÀá.B@@" @@Éª´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@NÉª´ØÀá.2@@" @@Éª´ØÀá.2@@
   >£²<input type="checkbox" name="@@NÉª´ØÀá.4@@" @@Éª´ØÀá.4@@
   >£´</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@NÉª´ØÀá.T@@" value="@@Éª´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain">¶»ÄÇ</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¶»ÄÇ.2@@" @@¶»ÄÇ.2@@
   >£²<input type="checkbox" name="@@N¶»ÄÇ.4@@" @@¶»ÄÇ.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¶»ÄÇ.T@@" value="@@¶»ÄÇ.T@@"></td>
  <td class="plain">Á°ÏÓ¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÁ°ÏÓ¹ü.L@@" @@Á°ÏÓ¹ü.L@@
   >º¸<input type="checkbox" name="@@NÁ°ÏÓ¹ü.R@@" @@Á°ÏÓ¹ü.R@@
   >±¦<input type="checkbox" name="@@NÁ°ÏÓ¹ü.B@@" @@Á°ÏÓ¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@NÁ°ÏÓ¹ü.2@@" @@Á°ÏÓ¹ü.2@@
   >£²<input type="checkbox" name="@@NÁ°ÏÓ¹ü.4@@" @@Á°ÏÓ¹ü.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÁ°ÏÓ¹ü.T@@" value="@@Á°ÏÓ¹ü.T@@"></td>
 </tr>

 <tr>
  <td class="darker">¶»¹øÄÇ</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N¶»¹øÄÇ.2@@" @@¶»¹øÄÇ.2@@
   >£²</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N¶»¹øÄÇ.T@@" value="@@¶»¹øÄÇ.T@@"></td>

  <td class="darker">¼ê´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N¼ê´ØÀá.L@@" @@¼ê´ØÀá.L@@
   >º¸<input type="checkbox" name="@@N¼ê´ØÀá.R@@" @@¼ê´ØÀá.R@@
   >±¦<input type="checkbox" name="@@N¼ê´ØÀá.B@@" @@¼ê´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@N¼ê´ØÀá.2@@" @@¼ê´ØÀá.2@@
   >£²<input type="checkbox" name="@@N¼ê´ØÀá.4@@" @@¼ê´ØÀá.4@@
   >£´</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N¼ê´ØÀá.T@@" value="@@¼ê´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain">¹øÄÇ</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¹øÄÇ.2@@" @@¹øÄÇ.2@@
   >£²<input type="checkbox" name="@@N¹øÄÇ.4@@" @@¹øÄÇ.4@@
   >£´<input type="checkbox" name="@@N¹øÄÇ.6@@" @@¹øÄÇ.6@@
   >£¶</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¹øÄÇ.T@@" value="@@¹øÄÇ.T@@"></td>
  <td class="plain">¼ê</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¼ê.L@@" @@¼ê.L@@
   >º¸<input type="checkbox" name="@@N¼ê.R@@" @@¼ê.R@@
   >±¦<input type="checkbox" name="@@N¼ê.B@@" @@¼ê.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@N¼ê.2@@" @@¼ê.2@@
   >£²<input type="checkbox" name="@@N¼ê.4@@" @@¼ê.4@@
   >£´<input type="checkbox" name="@@N¼ê.5@@" @@¼ê.5@@
   >£µ</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¼ê.T@@" value="@@¼ê.T@@"></td>
 </tr>

 <tr>
  <td class="plain">¹üÈ×</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¹üÈ×.1@@" @@¹üÈ×.1@@
   >£±<input type="checkbox" name="@@N¹üÈ×.3@@" @@¹üÈ×.3@@
   >£³</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¹üÈ×.T@@" value="@@¹üÈ×.T@@"></td>
  <td class="plain">¼ê»Ø</td>
  <td class="plain"><input type="checkbox" name="@@N¼ê»Ø.D1@@" @@¼ê»Ø.D1@@
   >£±<input type="checkbox" name="@@N¼ê»Ø.D2@@" @@¼ê»Ø.D2@@
   >£²<input type="checkbox" name="@@N¼ê»Ø.D3@@" @@¼ê»Ø.D3@@
   >£³<input type="checkbox" name="@@N¼ê»Ø.D4@@" @@¼ê»Ø.D4@@
   >£´<input type="checkbox" name="@@N¼ê»Ø.D5@@" @@¼ê»Ø.D5@@
   >£µ</td>
  <td class="plain"><input type="checkbox" name="@@N¼ê»Ø.L@@" @@¼ê»Ø.L@@
   >º¸<input type="checkbox" name="@@N¼ê»Ø.R@@" @@¼ê»Ø.R@@
   >±¦<input type="checkbox" name="@@N¼ê»Ø.B@@" @@¼ê»Ø.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@N¼ê»Ø.2@@" @@¼ê»Ø.2@@
   >£²<input type="checkbox" name="@@N¼ê»Ø.4@@" @@¼ê»Ø.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¼ê»Ø.T@@" value="@@¼ê»Ø.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Àç¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÀç¹ü.2@@" @@Àç¹ü.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÀç¹ü.T@@" value="@@Àç¹ü.T@@"></td>

  <td class="darker">¸Ô´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N¸Ô´ØÀá.L@@" @@¸Ô´ØÀá.L@@
   >º¸<input type="checkbox" name="@@N¸Ô´ØÀá.R@@" @@¸Ô´ØÀá.R@@
   >±¦<input type="checkbox" name="@@N¸Ô´ØÀá.B@@" @@¸Ô´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@N¸Ô´ØÀá.1@@" @@¸Ô´ØÀá.1@@
   >£±<input type="checkbox" name="@@N¸Ô´ØÀá.2@@" @@¸Ô´ØÀá.2@@
   >£²<input type="checkbox" name="@@N¸Ô´ØÀá.3@@" @@¸Ô´ØÀá.3@@
   >£³</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N¸Ô´ØÀá.T@@" value="@@¸Ô´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Èø¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÈø¹ü.1@@" @@Èø¹ü.1@@
   >£±<input type="checkbox" name="@@NÈø¹ü.2@@" @@Èø¹ü.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÈø¹ü.T@@" value="@@Èø¹ü.T@@"></td>

  <td class="darker">¸ª´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@N¸ª´ØÀá.L@@" @@¸ª´ØÀá.L@@
   >º¸<input type="checkbox" name="@@N¸ª´ØÀá.R@@" @@¸ª´ØÀá.R@@
   >±¦<input type="checkbox" name="@@N¸ª´ØÀá.B@@" @@¸ª´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@N¸ª´ØÀá.1@@" @@¸ª´ØÀá.1@@
   >£±<input type="checkbox" name="@@N¸ª´ØÀá.2@@" @@¸ª´ØÀá.2@@
   >£²<input type="checkbox" name="@@N¸ª´ØÀá.3@@" @@¸ª´ØÀá.3@@
   >£³</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@N¸ª´ØÀá.T@@" value="@@¸ª´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Ï¾¹ü</td>
  <td class="plain align-right"
   ><input type="checkbox" name="@@NÏ¾¹ü.L@@" @@Ï¾¹ü.L@@
   >º¸<input type="checkbox" name="@@NÏ¾¹ü.R@@" @@Ï¾¹ü.R@@
   >±¦<input type="checkbox" name="@@NÏ¾¹ü.B@@" @@Ï¾¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@NÏ¾¹ü.2@@" @@Ï¾¹ü.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÏ¾¹ü.T@@" value="@@Ï¾¹ü.T@@"></td>

  <td class="plain">ÂçÂÜ¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÂçÂÜ¹ü.L@@" @@ÂçÂÜ¹ü.L@@
   >º¸<input type="checkbox" name="@@NÂçÂÜ¹ü.R@@" @@ÂçÂÜ¹ü.R@@
   >±¦<input type="checkbox" name="@@NÂçÂÜ¹ü.B@@" @@ÂçÂÜ¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@NÂçÂÜ¹ü.2@@" @@ÂçÂÜ¹ü.2@@
   >£²<input type="checkbox" name="@@NÂçÂÜ¹ü.4@@" @@ÂçÂÜ¹ü.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÂçÂÜ¹ü.T@@" value="@@ÂçÂÜ¹ü.T@@"></td>
 </tr>

 <tr>
  <th class="heading" colspan="4">¤½¤ÎÂ¾¸¡ºº¾ðÊó</th>

  <td class="darker">É¨´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@NÉ¨´ØÀá.L@@" @@É¨´ØÀá.L@@
   >º¸<input type="checkbox" name="@@NÉ¨´ØÀá.R@@" @@É¨´ØÀá.R@@
   >±¦<input type="checkbox" name="@@NÉ¨´ØÀá.B@@" @@É¨´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@NÉ¨´ØÀá.2@@" @@É¨´ØÀá.2@@
   >£²<input type="checkbox" name="@@NÉ¨´ØÀá.3@@" @@É¨´ØÀá.3@@
   >£³</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@NÉ¨´ØÀá.T@@" value="@@É¨´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain" colspan="4" rowspan="12"
  ><textarea class="plain miscinfo" cols="60" rows="12"
    name="@@N¤½¤ÎÂ¾@@">@@¤½¤ÎÂ¾@@</textarea
  ></td>
  <td class="plain">²¼ÂÜ¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N²¼ÂÜ¹ü.L@@" @@²¼ÂÜ¹ü.L@@
   >º¸<input type="checkbox" name="@@N²¼ÂÜ¹ü.R@@" @@²¼ÂÜ¹ü.R@@
   >±¦<input type="checkbox" name="@@N²¼ÂÜ¹ü.B@@" @@²¼ÂÜ¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@N²¼ÂÜ¹ü.2@@" @@²¼ÂÜ¹ü.2@@
   >£²<input type="checkbox" name="@@N²¼ÂÜ¹ü.4@@" @@²¼ÂÜ¹ü.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N²¼ÂÜ¹ü.T@@" value="@@²¼ÂÜ¹ü.T@@"></td>
 </tr>

 <tr>
  <td class="darker">Â­´ØÀá</td>
  <td class="darker"></td>
  <td class="darker"><input type="checkbox" name="@@NÂ­´ØÀá.L@@" @@Â­´ØÀá.L@@
   >º¸<input type="checkbox" name="@@NÂ­´ØÀá.R@@" @@Â­´ØÀá.R@@
   >±¦<input type="checkbox" name="@@NÂ­´ØÀá.B@@" @@Â­´ØÀá.B@@
   >Î¾</td>
  <td class="darker"><input type="checkbox" name="@@NÂ­´ØÀá.2@@" @@Â­´ØÀá.2@@
   >£²<input type="checkbox" name="@@NÂ­´ØÀá.4@@" @@Â­´ØÀá.4@@
   >£´</td>
  <td class="darker"><input type="text" class="dirtext"
      name="@@NÂ­´ØÀá.T@@" value="@@Â­´ØÀá.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Â­</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NÂ­Éô.L@@" @@Â­Éô.L@@
   >º¸<input type="checkbox" name="@@NÂ­Éô.R@@" @@Â­Éô.R@@
   >±¦<input type="checkbox" name="@@NÂ­Éô.B@@" @@Â­Éô.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@NÂ­Éô.2@@" @@Â­Éô.2@@
   >£²<input type="checkbox" name="@@NÂ­Éô.4@@" @@Â­Éô.4@@
   >£´</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÂ­Éô.T@@" value="@@Â­Éô.T@@"></td>
 </tr>

 <tr>
  <td class="plain">Â­ìæ</td>
  <td class="plain"><input type="checkbox" name="@@NÂ­ìæ.D1@@" @@Â­ìæ.D1@@
   >£±<input type="checkbox" name="@@NÂ­ìæ.D2@@" @@Â­ìæ.D2@@
   >£²<input type="checkbox" name="@@NÂ­ìæ.D3@@" @@Â­ìæ.D3@@
   >£³<input type="checkbox" name="@@NÂ­ìæ.D4@@" @@Â­ìæ.D4@@
   >£´<input type="checkbox" name="@@NÂ­ìæ.D5@@" @@Â­ìæ.D5@@
   >£µ</td>
  <td class="plain"><input type="checkbox" name="@@NÂ­ìæ.L@@" @@Â­ìæ.L@@
   >º¸<input type="checkbox" name="@@NÂ­ìæ.R@@" @@Â­ìæ.R@@
   >±¦<input type="checkbox" name="@@NÂ­ìæ.B@@" @@Â­ìæ.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@NÂ­ìæ.2@@" @@Â­ìæ.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NÂ­ìæ.T@@" value="@@Â­ìæ.T@@"></td>
 </tr>

 <tr>
  <td class="plain">ìû¹ü</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@Nìû¹ü.L@@" @@ìû¹ü.L@@
   >º¸<input type="checkbox" name="@@Nìû¹ü.R@@" @@ìû¹ü.R@@
   >±¦<input type="checkbox" name="@@Nìû¹ü.B@@" @@ìû¹ü.B@@
   >Î¾</td>
  <td class="plain"><input type="checkbox" name="@@Nìû¹ü.1@@" @@ìû¹ü.1@@
   >£±<input type="checkbox" name="@@Nìû¹ü.2@@" @@ìû¹ü.2@@
   >£²<input type="checkbox" name="@@Nìû¹ü.3@@" @@ìû¹ü.3@@
   >£³</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@Nìû¹ü.T@@" value="@@ìû¹ü.T@@"></td>
 </tr>
<tr>
  <td class="plain">¶»¹ü</td>
  <td class="plain align-right"
  <td class="plain"><input type="checkbox" name="@@N¶»¹ü.1@@" @@¶»¹ü.1@@
   >£±<input type="checkbox" name="@@N¶»¹ü.2@@" @@¶»¹ü.2@@
   >£²</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¶»¹ü.T@@" value="@@¶»¹ü.T@@"></td>

  
 </tr>

<tr>
  <td class="plain">¹ü±öÄêÎÌ</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¹ü±öÄêÎÌ.1@@" @@¹ü±öÄêÎÌ.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¹ü±öÄêÎÌ.T@@" value="@@¹ü±öÄêÎÌ.T@@"></td>

  
 </tr>

<tr>
  <td class="plain">¾®Ä²Â¤±Æ</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@N¾®Ä²Â¤±Æ.1@@" @@¾®Ä²Â¤±Æ.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@N¾®Ä²Â¤±Æ.T@@" value="@@¾®Ä²Â¤±Æ.T@@"></td>

  
 </tr>
<tr>
  <td class="plain">ZG</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NZG.1@@" @@ZG.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NZG.T@@" value="@@ZG.T@@"></td>

  
 </tr>
<tr>
  <td class="plain">MDL</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NMDL.1@@" @@MDL.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NMDL.T@@" value="@@MDL.T@@"></td>

  
 </tr>
<tr>
  <td class="plain">DDL</td>
  <td class="plain align-right"
  <td class="plain"><input type="checkbox" name="@@NDDL.1@@" @@DDL.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NDDL.T@@" value="@@DDL.T@@"></td>

  
 </tr>
<tr>
  <td class="plain">UVG</td>
  <td class="plain"></td>
  <td class="plain"><input type="checkbox" name="@@NUVG.1@@" @@UVG.1@@
   
   >1</td>
  <td class="plain"><input type="text" class="dirtext"
      name="@@NUVG.T@@" value="@@UVG.T@@"></td>

  
 </tr>

</tbody>
</table>
